<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Book: Add Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
    <form action="/add_contact_form" method="POST">
        <fieldset id="field-section">
            {% if errors %}
            <ul style="color: red;">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <legend>Add Contact</legend>

            <label for="name">Contact Name: </label>
            <input type="text" name="name_input" placeholder="Juan de la Cruz">

            <label for="address">Address: </label>
            <input type="text" name="address_input" placeholder="Iloilo City">

            <label for="contact-number">Contact No.: </label>
            <input type="text" name="contact_number_input" placeholder="09000000000">
            
            <label for="email-address">Email Address: </label>
            <input type="text" name="email_address_input" placeholder="example@domain.com">

            <button type="submit" id="submit-button">Add to Contacts</button>
        </fieldset>
    </form>
    {% include 'elements/return_button.html' %}
</body>
</html>