<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Contact Book</title>
</head>
<body>
    <h1>CONTACT BOOK</h1>
    <div id="home-buttons-container">
        <a href="{{ url_for('add_contact') }}"><button id="button-add-contact">Add Contact</button></a>
        <a href="{{ url_for('remove_contact') }}"><button id="button-remove-contact">Remove Contact</button></a>
        <a href="{{ url_for('view_contact_list') }}"><button id="button-view-contact-list">View Contact List</button></a>
        <a href="{{ url_for('settings') }}"><button id="button-settings">Settings</button></a>
    </div>
</body>
</html>